/* Body CSS for Entire Webpage */

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* CSS for Header Control */

.header {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 24px;
}

.links ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

/* CSS for Hero Section */

.hero-section {
    background-color: #1F2937;
}

.hero-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 24px;
    gap: 24px;
}

.hero-text {
    color: #E5E7EB;
    margin-bottom: 12px;

}

.placeholder {
    color: white;
    width: 500px;
    height: 250px;
    background-color: #6D747D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 12px;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 34px;
    font-size: 18px;
    font-weight: 700;
    width: fit-content;
}

/* Random Information Section */

.random {
    background-color: white;
}

.random-container {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
}

.random-title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
    color: #1F2937;
}

.random-info {
    display: flex;
    gap: 60px;
}

.random-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.random-pics {
    width: 140px;
    height: 140px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.random-text {
    text-align: center;
    color: grey;
    font-size: 16px;
    margin-top: 12px;
}

/* Quote Section */

.quote {
    background-color: #E5E7EB;
}

.quote-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    line-height: 1.2;
}

.quote-sig {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 12px;
}

/* CTA */

.cta {
    background-color: white;
}

.cta-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.cta-box {
    background-color: #3882F6;
    color: white;
    width: 900px;
    border-radius: 8px;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-around;
}

.cta-title {
    font-size: 24px;
    font-weight: 900;
}

.cta-description {
    font-size: 18px;
    color: #E5E7EB;
}

.cta-button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 6px 32px;
    font-size: 16px;
    font-weight: 700;
}

/* Footer */

.footer {
    background-color: #1F2937;
}

.footer-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #E5E7EB;
    font-size: 18px;
}