* {
    margin: 0;
    padding: 0;
}

.section-one {
    display: flex;
    flex: 1;
    background-color: #1F2937;
}

h1{
    font-size: 24px;
}
.section-one-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.section-one-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

ul {
    justify-content: flex-start;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration:none;
}

body{
    display: flex;
}
.section-one-a{

    flex: 1;
    display: flex;
    color: white;
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}