* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.section-one {
    display: flex;
    flex: 1;
    background-color: #1F2937;
}

h1{
    font-size: 24px;
    flex: 1;
}
.section-one-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.section-one-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

ul {
    justify-content: flex-start;
    display: flex;
    gap: 20px;
    list-style-type: none;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration:none;
}

.section-one-a{
    flex: 1;
    display: flex;
    color: white;
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.section-two{
    display: flex;
    flex: 1;
    background-color: #1F2937;
}

.section-two-a{
    flex: 1;
    display: flex;
    color: white;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
    max-width: 1100px;
    flex-direction: row;
}

.section-two-left{
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 45px;
}

.section-two-right{
    flex: 1;
    width: 50%;
    padding: 40px;
}

#button1{
    background-color: #3882F6;
    color: white;
    width: 200px;
    height: 30px;
    border: 1px #3882F6;
    border-radius: 10px;
}

h2{
    margin-top: 40px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}
.row-of-blue-divs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    margin: 100px;
}

.box-blue{
    border: 4px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 20px;
}
.section-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-three{
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.section-four{
    background-color:#E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.p-five{
    color: white;
    font-size: 18px;
}

.section-five{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.blue-container{
    background: #3882F6;
    max-width: 1800px;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
h4{
    font-size: 24px;
    color: white;
}

.btn-last-div{
    background-color: #3882F6;
    color: white;
    width: 200px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 10px;
}